<h1>Budget <%= @budget.name %></h1>

<div class="form-actions">
  <%= link_to "Back", budgets_path, :class => 'btn'  %>
  <%= link_to "Edit", edit_budget_path(@budget), :class => 'btn' %>
  <%= link_to "Delete", budget_path(@budget), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>

<h2>Expenses</h2>
<%= link_to "Add expense", budget_new_item_type_path(@budget, :expense), :class => 'btn'  %>
<table id="expenses" class="table table-striped table-condensed">
  <%= render 'items/item_header' %>
  <tbody>
  <%= render @budget.expenses %>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<h2>Incomes</h2>
<%= link_to "Add income", budget_new_item_type_path(@budget, :income), :class => 'btn'  %>
<table id="incomes" class="table table-striped">
  <%= render 'items/item_header' %>
  <tbody>
  <%= render @budget.incomes %>

  </tbody>
  <tfoot>
  </tfoot>
</table>
