
<div class="clearfix">
   <%= f.label :name, t("activerecord.attributes.item.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :money_amount, t("activerecord.attributes.item.money_amount", :default => "Money amount"), :class => :label %>
  <div class="input">
    <%= f.text_field :money_amount, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :priority, t("activerecord.attributes.item.priority", :default => "Priority"), :class => :label %>
  <div class="input">
    <%= f.number_field :priority, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :item_type, t("activerecord.attributes.item.type", :default => "Type"), :class => :label %>
  <div class="input">
    <%= f.select :item_type, [['Expense', Item::TYPE_EXPENSE], ['Income', Item::TYPE_INCOME]] %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", items_path %>
</div>
