
<div class="clearfix">
  <%= f.label :name, t("activerecord.attributes.item.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
  <%= f.label :money_amount, t("activerecord.attributes.item.money_amount", :default => "Money amount"), :class => :label %>
  <div class="input">
    <%= f.text_field :money_amount, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
  <%= f.label :priority, t("activerecord.attributes.item.priority", :default => "Priority"), :class => :label %>
  <div class="input">
    <%= f.number_field :priority, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
  <%= f.label :item_type, t("activerecord.attributes.item.type", :default => "Type"), :class => :label %>
  <div class="input">
    <%= f.select :item_type, [['Expense', Item::TYPE_EXPENSE], ['Income', Item::TYPE_INCOME]], selected: @predefined_item_type %>
  </div>
</div>
<div class="form-actions btn-group">
  <button class="btn btn-primary" id="save" name="save" type="submit">Save</button>
  <button class="btn" name="save_and_back" type="submit">Save and back to budget</button>
  <%= link_to "Back to budget", budget_path(params[:budget_id]), class: 'btn' %>
</div>
