<h1>Items of budget <%= link_to @budget, budget_path(@budget) %></h1>
<table class="table table-striped">
 <thead>
     <tr>
       <th>
         <%= t("activerecord.attributes.item.name", :default => t("activerecord.labels.name", :default => "Name")) %>
       </th>
       <th>
         <%= t("activerecord.attributes.item.item_type", :default => t("activerecord.labels.item_type", :default => "Item type")) %>
       </th>
       <th>Actions</th>
     </tr>
  </thead>
  <tbody>
  <% @items.each do |item| -%>
   <tr>
        <td><%= link_to item.name, budget_items_path(item.budget, item) %>
        <td><%= print_type(item.item_type) %>
    </td>
        <td><%= item.created_at %></td>
    <td>
      <%= link_to "Show", budget_item_path(item.budget, item) %>
      <%= link_to "Edit", edit_budget_item_path(item.budget, item) %>
      <%= link_to "Destroy", budget_item_path(item.budget, item), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_budget_item_path, :class => 'btn btn-primary' %>
